<template name="projectLists">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="well">
                <h1>Task Mangement System</h1>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="well">
                <h2>Projects</h2>
                {{> addList}}
                <ul class="list-group">
                    {{#if Template.subscriptionsReady}}
                        {{#each list}}
                            <li class="list-group-item"><a href="{{pathFor route='projectPage'}}">{{name}}</a> [<a href="#" class="delete-list">Delete</a>]</li>
                        {{/each}}
                    {{else}}
                        <li>Loading...</li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</template>