<template name="chat">
    <div class="container">
      {{#if currentUser}}
          <div class="col-xs-12 well">
              <div class="col-xs-3">
                  <div style="height:500px;">
                    {{> rooms}}
                    {{> persons}}
                  </div>
              </div>
              <div class="col-xs-9">
                {{> messages}}
                {{> input}}
              </div>
          </div>
      {{/if}}
    </div>
</template>

<template name="input">
    <div class="form-group-lg">
        <input type="text" id="msg" placeholder="Enter Your Message..." class="form-control">
    </div>
</template>

<template name="messages">
    <h4>{{roomType}}: {{roomname}}</h4>
    <div id="messages" style="background-color: #ffffff; border: 1px solid darkgray; height: 500px; overflow: auto">
      {{#each messages}}
        {{> message}}
      {{/each}}
    </div>
</template>

<template name="message">
    <p><strong>{{user}}</strong> <span style="font-size: 0.7em; color: darkgray">({{timestamp}})</span>: <i>{{msg}}</i></p>
</template>

<template name="rooms">
    <h4>Projects:</h4>
    <div id="rooms">
        <ul class="list-unstyled">
          {{#each rooms}}
            {{> room}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="room">
    <li style="cursor: pointer; {{roomstyle}}"><a href="{{pathFor route='messagesProject'}}">{{name}}</a></li>
</template>

<template name="persons">
    <h4>Persons:</h4>
    <div id="peoples">
        <ul class="list-unstyled">
          {{#each persons}}
            {{> person}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="person">
    <li style="cursor: pointer; {{personstyle}}"><a href="{{pathFor route='messagesPersonal'}}">{{profile.name}}</a></li>
</template>