<template name="chat">
    <div class="container">
      {{#if currentUser}}
          <div class="col-xs-12 well">
              <div class="col-xs-3">
                  <div style="height:500px;">
                    {{> rooms}}
                    {{> persons}}
                  </div>
              </div>
              <div class="col-xs-9">
                {{> messages}}
                {{> input}}
              </div>
          </div>
      {{/if}}
    </div>
</template>

<template name="input">
    <div class="message_form">
        <div class="form-group">
            <a aria-label="Emoji menu" class="emotions_menu">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <textarea id="msg" placeholder="Enter Your Message..." class="form-control text_message" rows="1"></textarea>
        </div>
    </div>
</template>

<template name="messages">
    <h4>{{roomType}}: {{roomname}}</h4>
    <div id="messages" class="messages">
      {{#each messages}}
        {{> message}}
      {{/each}}
    </div>
</template>

<template name="message">
    <p class="message">
          <strong>{{user}}</strong>
          <span style="font-size: 0.7em; color: darkgray">({{timestamp}})</span>: <i>{{#emoji}}{{msg}}{{/emoji}}</i>
          {{#if deleteAllowed }}
            <i class="delete-message pull-right glyphicon glyphicon-trash"></i>
            <i class="edit-message pull-right glyphicon glyphicon-edit"></i>
          {{/if}}
    </p>
</template>

<template name="rooms">
    <h4>Projects:</h4>
    <div id="rooms">
        <ul class="list-unstyled">
          {{#each rooms}}
            {{> room}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="room">
    <li style="cursor: pointer; {{roomstyle}}"><a href="{{pathFor route='messagesProject'}}">{{name}}</a></li>
</template>

<template name="persons">
    <h4>Persons:</h4>
    <div id="peoples">
        <ul class="list-unstyled">
          {{#each persons}}
            {{> person}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="person">
    <li style="cursor: pointer; {{personstyle}}"><a href="{{pathFor route='messagesPersonal'}}">{{profile.name}}</a></li>
</template>

<template name="emoji_menu">
  {{#each emoji_list}}
    {{> emoji_icon}}
  {{/each}}
</template>

<template name="emoji_icon">
    <a href="" class="emotion" data-id="{{alias}}"><img src="{{path}}" alt="{{alias}}"/></a>
</template>


<template name="emojiModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Select Emotion <a class="btn pull-right" data-dismiss="modal">X</a></h4>
                </div>

                <div class="modal-body">
                  {{> emoji_menu}}
                </div>

            </div>
        </div>
    </div>
</template>