<template name="projectLists">
    <div class="row">
        <div class="col-xs-12">
            <h2>Projects</h2>
            <div class="pull-right"><a class="btn btn-success" href="{{pathFor route='newProject'}}">Add Project</a></div>
            <ul class="list-group">
                {{#if Template.subscriptionsReady}}
                    {{#each projects}}
                        <li class="list-group-item"><a href="{{pathFor route='projectPage'}}">{{name}}</a> <a href="#" class="pull-right glyphicon glyphicon-trash delete-list"></a></li>
                    {{/each}}
                {{else}}
                    <li>Loading...</li>
                {{/if}}
            </ul>
        </div>
    </div>
</template>